main{
    grid-row:3;
    display:grid;
    margin-left:auto;
    margin-right:auto;
}
main > *{
    user-select: none;
    border:1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
aside{
    grid-column:1;
}
main >div{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border:1px solid #50afc9;
}
@media (max-width: 800px){
    .first{
        margin-left: 5px;
        margin-right: 6px;
    }
    .second{
        margin-left: 5px;
        margin-right: 6px;
    }
    .second img{
        grid-row:1;
    }
    .second div{
        grid-row:2;
    }
    .third_1{
        grid-row:3;
        margin-left: 5px;
        margin-right: 6px;
    }
    .third_2{
        grid-row:4;
        margin-left: 5px;
        margin-right: 6px;
    }
    .fourth_1{
        grid-row:5;
        margin-left: 5px;
        margin-right: 6px;
    }
    .fourth_2{
        grid-row:6;
        margin-left: 5px;
        margin-right: 6px;
    }
    .fifth{
        grid-row:7;
    }
    .fifth_1{
        grid-row:1;
        margin-left:0;
        margin-left: 5px;
        margin-right: 6px;
    }
    .fifth_2{
        grid-row:2;
        margin-left: 5px;
        margin-right: 6px;
        margin-top:5px;
        margin-bottom: 5px;
    }
    .fifth_3{
        grid-row:3;
        margin-left: 5px;
        margin-right: 6px;
        margin-top: 5px;
    }
    .fifth_4{
        grid-row:4;
        margin-left: 5px;
        margin-right: 6px;
    }
}
@media (min-width: 800px){
    .main {
        grid-template-columns: 50% 50%;
    }
    .first{
        margin-left:auto;
        margin-right:auto;
    }
    .second{
        grid-template-columns: 60% 40%;
        margin-right: auto;
        margin-left: auto;
    }
    .second img{
        grid-column:1;
    }
    .second div{
        grid-column:2;
    }
    .third_1{
        grid-row:3;
        grid-column: 1;
        margin-right: 5px;
    }
    .third_2{
        grid-row:3;
        grid-column: 2;
        margin-left:5px;
        margin-right:0;
    }
    .fourth_1{
        grid-row:4;
        grid-column: 1;
        margin-left:0;
        margin-right:5px;
    }
    .fourth_2{
        grid-row:4;
        grid-column: 2;
        margin-left:5px;
        margin-right:0;
    }
    .fifth{
        grid-row:5;
        grid-column: 1/3;
        grid-template-columns: 33% 34% 33%;
    }
    .fifth_1{
        grid-row:1/3;
        grid-column: 1;
        margin-left:0;
        margin-right:5px;
    }
    .fifth_2{
        grid-row:1/3;
        grid-column: 2;
        margin-left:5px;
        margin-right:5px;
    }
    .fifth_3{
        grid-row:1;
        grid-column: 3;
        margin-left:5px;
        margin-right:0;
        margin-bottom: 5px;
    }
    .fifth_4{
        grid-row:2;
        grid-column: 3;
        margin-left:5px;
        margin-right:0;
        margin-top: 5px;
    }

}
main .first{
    grid-row:1;
    grid-column:1/3;
    border:1px solid #50afc9;
    padding-left: 15px;
    padding-right: 15px;
    color:#1e5361;
}
.first h2{
    color:#50afc9;
}
.first a{
    color:#50afc9;
    text-decoration: none;
}
.first a:hover{
    text-decoration: underline;
}
.first hr{
    border:3px solid #50afc9;
    border-radius: 2px;
}
main .second{
    display: grid;
    grid-row:2;
    grid-column:1/3;
    width:auto;
    color:#804e00;
    border:1px solid #f49600;
}
.second img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.second div{
    width: 100%;
    margin:7px;
}
.second h2{
    text-align: center;
    color:#f49600;
}
.second a{
    text-decoration: none;
    color:#f49600;
}
.second a:hover{
    text-decoration: underline;
}
main .third_1{
    width:auto;
    padding-right: 15px;
    padding-left: 15px;
    border:1px solid #f49600;
}
.third_1 h2{
    color:#f49600;
}
.third_1 hr{
    border:3px solid #f49600;
    border-radius: 2px;
}
.third_1 iframe{
    width: 100%;
}
main .third_2{
    height: 610px; /* this will be deleted */
    width:auto;
    padding-right: 15px;
    padding-left: 15px;
    color:#1e5361;
    font-size:15px;
}
.third_2 img{
    display: block;
    width:100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    border:1px solid #50afc9;
}
.third_2 h2{
    color:#50afc9;
}
.third_2 hr{
    border:3px solid #50afc9;
    border-radius: 2px;
}
.third_2 hr:not(:nth-child(2)){
    border:2px solid #50afc9;
    border-radius: 2px;
}
main .fourth_1{
    width:auto;
    padding-right: 15px;
    padding-left: 15px;
    color:#de3f53;
    border:1px solid #de3f53;

}
.fourth_1 h2{
    color:#de3f53;
}
.fourth_1 hr{
    border:3px solid #de3f53;
    border-radius: 2px;
}
.fourth_1 img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.fourth_1 a{
    color:#de3f53;
    text-decoration: none;
}
.fourth_1 a:hover{
    text-decoration: underline;
}
main .fourth_2{
    width: auto;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border:1px solid #766d65;
}
.fourth_2 h2{
    color:#766d65;
}
.fourth_2 hr{
    border:3px solid #766d65;
    border-radius: 2px;
}
.fourth_2 iframe{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #766d65;
}
main .fifth{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display: grid;
    border:none;
    color:white;
}
.fifth > div{
    padding-left: 15px;
    padding-right: 15px;
}
.fifth hr{
    border:3px solid white;
    border-radius: 2px;
}
main .fifth_1{
    width:auto;
    text-align: center;
    line-height: 250%;
    background-color: #3592ab;
    border:1px solid transparent;
}
main .fifth_2{
    width: auto;
    background-color: #f49600;
    border:1px solid transparent;
}
.fifth_2 h1{
    text-align: center;
}
.fifth_2 a{
    color:#766d65;
    text-decoration: none;
}
.fifth p{
    text-align: justify;
}
.fifth_2 a:hover{
    text-decoration: underline;
}
main .fifth_3{
    width:auto;
    line-height: 150%;
    background-color: #de3f53;
    border:1px solid transparent;
}
.fifth_3 ul{
    padding-left: 15px;
}
.fifth_3 a{
    color:white;
    text-decoration: none;
}
.fifth_3 a:hover{
    text-decoration: underline;
}
main .fifth_4{
    width:auto;
    background-color: #de3f53;
    border:1px solid transparent;
}
.fifth_4 img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}