body {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:5% 10% 80% 5%;
}
body > * {
    border: 1px solid black;
}
.header-social a{
    text-decoration: none;
}
header{
    grid-row:1;
}
header .header-area {
    display: grid;
    grid-template-columns: repeat(10,10%);
}
header .header-contact{
    grid-column:1/span 3;
}
header .header-contact ul{
    list-style-type: none;
}
header .header-contact li:first-child:before {
    content: "\f095"; /* FontAwesome Unicode */
    font-family: FontAwesome;
}
header .header-contact li:nth-child(2):before {
    content: "\f0e0"; /* FontAwesome Unicode */
    font-family: FontAwesome;
}
header .header-contact ul{
    display:grid;
    grid-template-columns:50% 50%;
}
header .header-social{
    grid-column:10;
    font-size: 25px;
    padding:10px 0 0 30px;

}
nav{
    padding: 0px 80px;
    grid-row:2;

}
nav .nav-sticky{
    display: grid;
    background-color: #3CC78F;
    margin:0;
    padding:0;
    height:100%;
    border-radius:20px;
    grid-template-columns:20% 80%;
}
@media only screen and (max-width: 1100px) {
    nav .nav-sticky {

    grid-template-columns:30% 70%;
    }
}
nav .nav-logo {
    padding-left:5%;
    grid-column:1;
}
.logo_img{
    padding-left:40px;
    padding-top:5px;
}
nav .nav-menu{
    grid-column:2;

}
nav .nav-menu #navigation{
    display:grid;
    padding:7px 0 0 0;
    margin:0;
    grid-template-columns:12% 17% 17% 17% 37%;
    list-style-type: none;
}
nav .nav-menu #navigation a:first-child{

    grid-column-start: 2;
}
nav .nav-menu #navigation a{
    text-decoration: none;
    color:white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
nav .nav-menu #navigation a:hover{
    background-color: #88ddbb;
    box-shadow:3px 3px 2px gray;
    transition:0.3s;
}
nav .nav-menu #navigation a:active{
    background-color: #34b27f;
    box-shadow:1px 1px gray;
}
nav .nav-menu #navigation a{
    transition:0.3s;
    text-align: center;
    background-color:#61d1a4;
    box-shadow:5px 5px 3px gray;
    padding:20px 20px 20px 20px;
    border:1px solid gray;
    margin-left: 10px;
    border-radius:10px;
}
footer{
    grid-row:4;
}