main {
    width:87%;
    border: 1px solid #f49600;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    
}

input[type=text], select, textarea {
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
img {
    width: 50%;
}

textarea {
    height: 170px;
}

input[type=submit] {
    background-color:cornflowerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #2a7488;
    }

.head {
    text-align:center;
    font-size:1em;
    color:azure;
}
.container {
    border-radius: 5px;
    background-color: #50afc9;
    padding: 10px;
    display: grid;
}
.row {
    display:grid;
    grid-template-columns:1fr 1fr;
}
.row div {
    margin-top: 6px;
    padding: 20px;
}
.col1 {
    grid-column: 2;
    grid-row: 1;
    font-size: 1em;
    color: azure;
}
.col2{
    grid-column:1;
    grid-row:1;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout */
@media (min-width: 1200px) {
   .col1{
        width:87%;
    }
}
@media only screen and (max-width: 650px) {
    .col1 {
        width: 87%;
    }

    .col2 {
        width: 100%;
    }

    img {
        visibility: hidden;
    }
}



