body {
    display: block;
    width:100%;
    padding:0;
    margin:0;
}
body > * {
    width:1200px;
}
@media (min-width: 1200px) {
    header .header-area {
        width: 1170px;
    }
    nav .nav-sticky{
        width:1170px;
    }
    header .top_banner {
        width:1170px;
    }
    main{
        width:1170px;
    }
    footer{
        width: 1170px;
    }
}
@media (min-width: 800px) and (max-width:1200px) {
    header .header-area {
        width: 770px;
    }
    nav .nav-sticky{
        width:770px;
    }
    header .top_banner {
        width:770px;
    }
    main{
        width:770px;
    }
    footer{
        width: 770px;
    }
}
@media (max-width: 800px){
    header .header-area {
        max-width: 770px;
        width: 100%;
    }
    nav .nav-sticky{
        width:770px;
        width: 100%;
    }
    header .top_banner {
        width:770px;
        width: 100%;
    }
    main{
        width:770px;
        width: 100%;
    }
    footer{
        width: 770px;
        width: 100%;
    }
}
header{
    grid-row:1;
    width:100%;
    padding:0;
    margin:0;
    display: grid;
}
header .header-area {
    grid-row: 1;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns: 50% 50%;
}
.header-logo{
    grid-column: 1;
    float:left;
}
header .header-social{
    grid-column:2;
    float:right;
    font-size: 35px;
    margin:0;
    padding:0;

}
.header-social a{
    text-decoration: none;
}
#socials{
    list-style: none;
    margin: 0;
}
#socials li{
    float:left;
    padding: 24px 10px 10px;
}
#socials a{
    color: #50afc9;
}
header .top_banner{
    grid-row:2;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom: 10px;
}
header .top_banner img{
    width:100%;
}
nav{
    grid-row:3;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}
nav .nav-sticky{
    display: grid;
    background-color: #50afc9;
    margin:0;
    padding:0;
    height:100%;
    border-radius:20px;
    grid-template-columns:20% 80%;
}
nav .nav-menu{
    grid-column:2;
    padding-top: 5px;
    padding-bottom: 10px;
}
nav .nav-menu #navigation{
    display:grid;
    padding:7px 0 0 0;
    margin:0;
    grid-template-columns:12% 17% 17% 17% 37%;
    list-style-type: none;
}
nav .nav-menu #navigation a:first-child{

    grid-column-start: 2;
}
nav .nav-menu #navigation a{
    text-decoration: none;
    color:rgb(230,230,230);
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
nav .nav-menu #navigation a:hover{
    background-color: #3696af;

    color:rgb(240,240,240);
    box-shadow:3px 3px 2px #a6a6a6;
    transition:0.3s;
}
nav .nav-menu #navigation a:active{
    background-color: #2a7488;
    color:white;
    box-shadow:1px 1px gray;
}
nav .nav-menu #navigation a{
    transition:0.3s;
    text-align: center;
    background-color:#50afc9;
    box-shadow:5px 5px 3px #d9d9d9;
    padding:20px 20px 20px 20px;
    border:1px solid gray;
    margin-left: 10px;
    border-radius:10px;
}
footer{
    grid-row:4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#50afc9;
}