header{
    margin-top: 10px;
}
main {
    grid-row:2;
    min-height: 600px;
    margin: auto;
    border: 1px solid #f49600;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    color: darkblue;
    background-color: #50afc9;
}

form {
    display: flex;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 2em;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.2em;
    background-color: #3696af;
}

main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 15% 10% 65% 10%;
    size:auto;
    
}
main p {
    font-size: 1.2em;
    font-weight: bold;
    color: darkblue
}

.loginButton {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0, 0.15);
    border: none;
    color: darkblue;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    margin: auto;
    margin-bottom: 0.5em;
    cursor: pointer;
    width: 65%;
    border-radius: 2em;
    padding: 0.3em;
}

.loginButton:hover {
    background-color:bisque;
    color:blue;
}

#title{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row:1
}

.admin-navigation{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row:2;
    justify-content: center;
}

.admin-actions{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row:3;
    justify-content: center;
    display:block;
    width: 100%;
    height: 100%;
}

.logout-wrapper{
    grid-column: 2;
    grid-row:4;
    justify-content: center;
}

#logout {
    size:33%;
}

.hidden {
    display:none;
}